@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;

    --fonte-tamanho-titulo: 2.25rem;
    --fonte-tamanho-subtitulo: 1.5rem;
    --fonte-tamanho-paragrafo: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 8%;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-tamanho-paragrafo);
    font-weight: 400;
    color: var(--cor-terciaria);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 8% ;
}


.texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-tamanho-titulo);   
}

.titulo span{
    color: var(--cor-terciaria);
}

.paragrafo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: var(--fonte-tamanho-paragrafo);
}

.titulo-botoes{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-tamanho-paragrafo);
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 378px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--fonte-tamanho-paragrafo);
    padding: 16px 0;
    text-align: center;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.botao:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.imagem{
    width: 488px;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-hover);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-tamanho-paragrafo);
    font-weight: 400;
}